@charset "UTF-8";

/* common(見出し) */
body{
  /* 余分な余白の削除 */
  margin: 0;
}

img {
  /* imgタグ下の余分なスペースを削除する（指定要素を下端揃えにします。） */
  vertical-align: bottom;
}

h1,h2,h3,p{
    /* 余分な余白の削除 */
  margin: 0;
}

.wrapper{
  max-width: 600px;
  /* コンテンツを中央ぞろえ */
  margin: 0 auto;
  /* 上下30px,左右5％分の余白作成 */
  padding: 30px 4%;
}
/* header */
header{
  text-align: center;
}

.photo{
  /* 楕円形 */
  border-radius: 20%;
  margin-bottom: 10px;
}

/* main */
h2{
  text-align: center;
}

.myskills{
  background-color: #f1f1f1;
}

.myskills ul{
  margin-top: 30px;
  /* listの・を無くす */
  list-style: none;
  padding: 0;
  /* 直下の要素(list)を横並びにする */
  display: flex;
  /* 余白を持って等間隔に配置 */
  justify-content: space-around;
}

.skill_html5{
  background-color: #e44d26;
}

.skill_css3{
  background-color: #75A9FF;
}

.skill_javascript{
  background-color: #FFD007;
}
/* 共通のcss設定 */
.myskills ul li{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* 文字を中央ぞろえにする */
  display: flex;
  /* 左右を中央ぞろえ */
  justify-content: center;
  /* 上下を中央ぞろえ */
  align-items: center;
  /* 文字のフォント調整 */
  color: #ffffff;
  font-size: 14px;
  /* 太文字 */
  font-weight: bold;
}

.works_box{
  max-width: 500px;
  /* 縦方向を中央配置 */
  margin: 10px auto;
}
/* 今後サイトを増やす際、写真の縦横比を統一するために */
.works_image{
  width: 100%;
  height: auto;
}

works_box h3{
  margin-top: 15px;
}

.works_box p{
  margin-top: 7px;
}

/* footer */
footer{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}